.scroll-box {
    width: 100%;         /* กำหนดความกว้าง */
    height: 250px;        /* กำหนดความสูง */
    border: 1px solid #ccc; /* ขอบกล่อง */
    padding: 10px;       /* ระยะขอบภายใน */
    overflow-y: scroll;  /* เพิ่ม scrollbar ในแนวตั้ง */
    overflow-x: hidden;  /* ซ่อน scrollbar ในแนวนอน */
    background-color: #ffffff; /* สีพื้นหลัง */
}
scroll-box::-webkit-scrollbar {
    width: 8px;
}
.scroll-box::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 4px;
}
.scroll-box::-webkit-scrollbar-thumb:hover {
    background: #e4e4e4;
}
